.container{
    width: 300px;
    height: 300px;
    background-color: aqua;
    transition-duration: 3s;
    /* transition-property: width; */
    transition-timing-function: cubic-bezier(0,-0.29, 0,-0.35);
    /* transition-delay: 2s; */
}

.container:hover{
    background-color: crimson;
    width: 600px;
    transform: translateX(20px);
}


.box{
    width: 100px;
    height: 100px;
    background-color: coral;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    position: relative;

}


@keyframes circle {
    50%{
        background-color: green;
        width: 50px;
        height: 50px;
        left: 100px;
        top: 100px;
    }
    100%{
        background-color: gold;
        width: 300px;
        height: 300px;
        left: 500px;
        top: 500px;
    }
}




@media (max-width:600px) {
    .para1{
        background-color: coral;
        width: 50%;
    }
}
@media (max-width: 400px){
    .para2{
        width: 70%;
        background-color: gold;
    }
 }
