.box1{
    height: 150px;
    width: 300px;
    background-color: violet;
}

.box2{
    height: 150px;
    width: 300px;
    background-color: coral;
}

.box3{
    height: 150px;
    width: 300px;
    background-color: blue;
}

.box4{
    height: 150px;
    width: 300px;
    background-color: red;
}

.box5{
    height: 150px;
    width: 300px;
    background-color: green;
}


.box6{
    height: 150px;
    width: 300px;
    background-color: rgb(152, 179, 152);
}

.box7{
    height: 150px;
    width: 300px;
    background-color: rgb(29, 134, 148);
}

.box8{
    height: 150px;
    width: 300px;
    background-color: rgb(16, 19, 29);
}

.box9{
    height: 150px;
    width: 300px;
    background-color: rgb(105, 20, 60);
}

.box10{
    height: 150px;
    width: 300px;
    background-color: rgb(83, 15, 19);
}

.container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    height: 600px;
    border: 3px solid gray;
    align-content: space-evenly;
}